<html>
    <style>
        tr {vertical-align: center;}
        th {text-align: center;}
        td {text-align: center;}
        html {background-color: rgb(197, 255, 255); text-align: center; vertical-align: center;}
        input {margin: 4px;}
        label {margin: 2px;}
        table {vertical-align: center; margin-left:auto; margin-right:auto}
        </style>

    <h1>Get Volumes for NFT Sales on Polygon</h1>
    <div style="text-align:center">
        <table class="center" border="1" style="vertical-align:center;">
    
        <tr>
            <th>MATIC Volume</th>
            <td>{{ data.matic_volume|floatformat:4 }}</td>
        </tr>
        <tr>
            <th>WETH Volume</th>
            <td>{{ data.weth_volume|floatformat:4 }}</td>
        </tr>
        <tr>
            <th>USDC Volume</th>
            <td>{{ data.usdc_volume|floatformat:4 }}</td>
        </tr>
        <tr>
            <th>Total NFT Transactions</th>
            <td>{{ data.tx_count }}</td>
        </tr>
        <tr>
            <th>Spot USD Volume</th>
            <td>{{ data.spot_usd_volume|floatformat:2 }}</td>
        </tr>
        <tr>
            <th>Average Sale Price</th>
            <td>{{ data.average_sale_price|floatformat:2 }}</td>
        </tr>
        <tr>
            <th>Total Individual Tokens Sold</th>
            <td>{{ data.total_individual_tokens_sold }}</td>
        </tr>
        <tr>
            <th>Average Sale Price Per Individual Token</th>
            <td>{{ data.average_sale_price_per_individual_token }}</td>
        </tr>

    </table></div>
    <br></br>
    <p>search parameters for data above ^</p>
    <p>
        {{ parameters }}
    </p>
    <br></br>

    <form method="get" action="get_volume">
        <label>Contract Address</label>
        <input name="contract_address" id="contract_address" type="text"/>
        <br></br>
        <label>Token ID</label>
        <input name="token_id" id="token_id" type="text"/>
        <br></br>
        <label>Start Date</label>
        <input name="start_dt" id="start_dt" type="date"/>
        <br></br>
        <label>End Date</label>
        <input name="end_dt" id="end_dt" type="date"/>
        <br></br>
        <label>Buyer</label>
        <input name="buyer" id="buyer" type="text"/>
        <br></br>
        <label>Seller</label>
        <input name="seller" id="seller" type="text"/>
        <br></br>
        <label>Coin Standard</label>
        <select name="coin_standard" id="coin_standard"">
            <option value="all">all</option>
            <option value="721">ERC721</option>
            <option value="1155">ERC1155</option>
        </select>
        <br></br>
        <label>Response Type</label>
        <select name="response_type" id="response_type">
            <option value="html">html</option>
            <option value="json">json</option>
        </select>
        <br></br>
        <button type="submit">Submit</button>
    </form>
</html>