<html>
    <style>
        tr {text-align: center;}
        td {text-align: center;}
        html {background-color: rgb(197, 255, 255);text-align: center;}
        input {margin: 4px;}
        label {margin: 2px;}
        button {font-size:40px;}
        /* button {background-color: black; color:rgb(197, 255, 255)} */
        </style>
    <h1 style="font-size:60px">The "SeaOpener" on Polygon</h1>
    <br></br>
    <br></br>
    <form action="get_transactions_page">
    <button type="submit" href="get_transactions_page">All Transactions</button>
    </form>
    <br></br>
    <form action="get_volume_page">
        <button type="submit" href="get_volume_page"> Total Trading Volumes</button>
        </form>
        <br></br>
    <form action="get_daily_volume_page">
        <button type="submit" href="get_daily_volume_page">Daily Trading Summaries</button>
        </form>
        <br></br>
    <form action="get_weekly_volume_page">
        <button type="submit" href="get_weekly_volume_page">Weekly Trading Summaries</button>
        </form>
        <br></br>
    <form action="get_monthly_volume_page">
        <button type="submit" href="get_monthly_volume_page">Monthly Trading Summaries</button>
        </form>
</html>